<footer class="px-body py-[3.056vw] bg-action-400 flex flex-col gap-[6.944vw]">
  <img src="/img/assets/logo-white.svg" alt="" class="w-[14.931vw]" />
  <div class="flex flex-row justify-between">
    <div class="flex flex-row gap-[5.556vw]">
      <div class="flex flex-col gap-[0.556vw]">
        <p class="text-nero">Sede</p>
        <p class="text-bianco">
          Viale San Concordio 76<br />
          55016 Porcari (LU)
        </p>
      </div>
      <div class="flex flex-col gap-[0.556vw]">
        <p class="text-nero">Contatti</p>
        <a href="">
          <p class="text-bianco">+39 0583 403377</p>
        </a>
        <a href="">
          <p class="text-bianco">info@estix.it</p>
        </a>
      </div>
      <div class="flex flex-col gap-[0.556vw]">
        <p class="text-nero">Orari</p>
        <p class="text-bianco">
          Dal Lunedì al Venerdì<br />
          09-20 (Orario continuato)
        </p>
        <p class="text-bianco">
          Sabato<br />
          09-13.30
        </p>
        <p class="text-bianco">
          Domenica<br />
          Chiusi
        </p>
      </div>
    </div>
    <div class="pl-[2.292vw] border-l border-bianco">
      <p class="text-[6.944vw] leading-[7.222vw] text-bianco">
        <span class="text-bianco/35">di</span>visione<br />
        ottica
      </p>
    </div>
  </div>
  <div class="pt-[0.833vw] border-t border-bianco flex flex-row justify-between">
    <p class="text-white text-[0.833vw] leading-[1.111vw] w-3/12 flex justify-start">© 2025 Estix. Tutti i diritti riservati.</p>
    <p class="text-white text-[0.833vw] leading-[1.111vw] w-6/12 flex justify-center">AM LABORATORIO SRLS – P.IVA 02455910469 – PEC amlaboratorio@pec.it</p>
    <p class="text-white text-[0.833vw] leading-[1.111vw] w-3/12 flex justify-end">Credits Demia</p>
  </div>
</footer>

<!-- SwiperJS CDN: JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script src="../js/slider.js"></script>
<script src="../js/main.js"></script>
