<footer class="bg-blu flex flex-col lg:gap-[6.944vw] gap-[60px] px-body pt-body lg:pb-[2.222vw] pb-[60px]">
  <img src="/img/assets/logo-white.svg" alt="" class="lg:w-[22.917vw] w-[266px]" />
  <div class="flex lg:flex-row flex-col justify-between lg:py-[6.944vw] py-[60px] w-full border-y border-bianco lg:gap-0 gap-[60px]">
    <div class="flex flex-col gap-[0.556vw]">
      <p class="text-grigio-200">Sede</p>
      <p class="text-grigio-50">
        Via Romana Ovest 310<br />
        55016 Porcari (LU)
      </p>
    </div>
    <div class="flex flex-col gap-[0.556vw]">
      <p class="text-grigio-200">Contatti</p>
      <a href="tel:+39 0583 429652">
        <p class="text-grigio-50">+39 0583 429652</p>
      </a>
      <a href="mailto:info@celyon.it">
        <p class="text-grigio-50">info@celyon.it</p>
      </a>
    </div>
    <div class="flex flex-col gap-[0.556vw]">
      <p class="text-grigio-200">Social</p>
      <p class="text-grigio-50">Linkedin</p>
    </div>
  </div>
  <div class="flex lg:flex-row flex-col justify-between lg:gap-0 gap-[24px]">
    <p class="text-white lg:text-[0.833vw] text-[12px] lg:leading-[1.111vw] leading-[16px] lg:w-3/12 flex justify-start">© 2025 Bertacchi & Filippi Impianti S.r.l.</p>
    <p class="text-white lg:text-[0.833vw] text-[12px] lg:leading-[1.111vw] leading-[16px] lg:w-6/12 flex justify-center">P.IVA 01660130467 REA 161537 Registro imprese di Lucca: 01660130467 Capitale Sociale: 28.658,27€</p>
    <div class="flex flex-row lg:gap-[1.667vw] gap-[24px] lg:justify-end justify-start">
      <p class="text-white lg:text-[0.833vw] text-[12px] lg:leading-[1.111vw] leading-[16px] flex lg:justify-end justify-start">Certificato ISO9001</p>
      <p class="text-white lg:text-[0.833vw] text-[12px] lg:leading-[1.111vw] leading-[16px] flex lg:justify-end justify-start">Qualità</p>
      <p class="text-white lg:text-[0.833vw] text-[12px] lg:leading-[1.111vw] leading-[16px] flex lg:justify-end justify-start">Privacy</p>
      <p class="text-white lg:text-[0.833vw] text-[12px] lg:leading-[1.111vw] leading-[16px] flex lg:justify-end justify-start">Credits Demia</p>
    </div>
  </div>
</footer>

<!-- SwiperJS CDN: JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script src="../libs/main.js"></script>
