<footer class="bg-blu flex flex-col gap-[6.944vw] px-body pt-body pb-[2.222vw]">
  <img src="/img/assets/logo-white.svg" alt="" class="w-[22.917vw]" />
  <div class="flex flex-row justify-between py-[6.944vw] w-full border-y border-bianco">
    <div class="flex flex-col gap-[0.556vw]">
      <p class="text-grigio-200">Sede</p>
      <p class="text-grigio-50">
        Via Romana Ovest 310<br />
        55016 Porcari (LU)
      </p>
    </div>
    <div class="flex flex-col gap-[0.556vw]">
      <p class="text-grigio-200">Contatti</p>
      <a href="">
        <p class="text-grigio-50">+39 0583 429652</p>
      </a>
      <a href="">
        <p class="text-grigio-50">info@celyon.it</p>
      </a>
    </div>
    <div class="flex flex-col gap-[0.556vw]">
      <p class="text-grigio-200">Social</p>
      <p class="text-grigio-50">Linkedin</p>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <p class="text-white text-[0.833vw] leading-[1.111vw] w-3/12 flex justify-start">© 2025 Bertacchi & Filippi Impianti S.r.l.</p>
    <p class="text-white text-[0.833vw] leading-[1.111vw] w-6/12 flex justify-center">P.IVA 01660130467 REA 161537 Registro imprese di Lucca: 01660130467 Capitale Sociale: 28.658,27€</p>
    <div class="flex flex-row gap-[1.667vw] justify-end">
      <p class="text-white text-[0.833vw] leading-[1.111vw] flex justify-end">Certificato ISO9001</p>
      <p class="text-white text-[0.833vw] leading-[1.111vw] flex justify-end">Qualità</p>
      <p class="text-white text-[0.833vw] leading-[1.111vw] flex justify-end">Privacy</p>
      <p class="text-white text-[0.833vw] leading-[1.111vw] flex justify-end">Credits Demia</p>
    </div>
  </div>
</footer>

<!-- SwiperJS CDN: JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script src="../libs/main.js"></script>
