---
import Button from "../component/Button.astro";
import { localizePath } from "astro-i18next";
import { LanguageSelector } from "astro-i18next/components";
import { t } from "i18next";
---

<header class="z-[100] absolute px-body lg:h-[7.222vw] h-[88px] flex flex-row justify-between w-full items-center bg-bianco" id="navbar">
  <a href={localizePath("/")}>
    <img src="/img/assets/logo-multi.svg" alt="" class="lg:w-[11.111vw] w-[127px] lg:h-[3.472vw] h-[40px]" />
  </a>
  <div class="hamburger-icon click-menu lg:hidden block" id="icon">
    <div class="icon-1" id="a"></div>
    <div class="icon-2" id="b"></div>
  </div>
  <div class="hidden lg:flex flex-row gap-[1.944vw] items-center">
    <div class="bg-grigio-100 flex flex-row gap-[3.056vw] items-center" id="menu">
      <a href={localizePath("/Azienda")} class="btn-header">
        <p class="btn-title">
          <span class="text">{t("componenti.header.azienda")}</span>
          <span class="hover-text">{t("componenti.header.azienda")}</span>
        </p>
      </a>

      <!-- "Prodotti" menu with dropdown -->
      <div class="menu-item prodotti relative">
        <a href="#" class="hover-trigger">
          <div class="flex flex-row gap-[0.556vw]">
            <p class="btn-title titolo">
              <span class="text">{t("componenti.header.prodotti.title")}</span>
              <span class="hover-text">{t("componenti.header.prodotti.title")}</span>
            </p>
            <img src="/img/assets/plus.svg" alt="" class="w-[1.181vw]" id="plus" />
            <img src="/img/assets/minus.svg" alt="" class="w-[1.181vw] hidden" id="minus" />
          </div>
        </a>
        <div class="submenu absolute bg-grigio-200">
          <a href={localizePath("/Oleodinamica")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.prodotti.voce1")}</span>
              <span class="hover-text">{t("componenti.header.prodotti.voce1")}</span>
            </p>
          </a>
          <a href={localizePath("/Lubrificazione")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.prodotti.voce2")}</span>
              <span class="hover-text">{t("componenti.header.prodotti.voce2")}</span>
            </p>
          </a>
          <a href={localizePath("/Purificazione")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.prodotti.voce3")}</span>
              <span class="hover-text">{t("componenti.header.prodotti.voce3")}</span>
            </p>
          </a>
          <a href={localizePath("/Disaereazione")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.prodotti.voce4")}</span>
              <span class="hover-text">{t("componenti.header.prodotti.voce4")}</span>
            </p>
          </a>
          <a href={localizePath("/Cilindri")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.prodotti.voce5")}</span>
              <span class="hover-text">{t("componenti.header.prodotti.voce5")}</span>
            </p>
          </a>
        </div>
      </div>

      <!-- "Servizi" menu with dropdown -->
      <div class="menu-item servizi relative">
        <a href="#" class="hover-trigger">
          <div class="flex flex-row gap-[0.556vw]">
            <p class="btn-title titolo">
              <span class="text">{t("componenti.header.servizi.title")}</span>
              <span class="hover-text">{t("componenti.header.servizi.title")}</span>
            </p>
            <img src="/img/assets/plus.svg" alt="" class="w-[1.181vw]" id="plus" />
            <img src="/img/assets/minus.svg" alt="" class="w-[1.181vw] hidden" id="minus" />
          </div>
        </a>
        <div class="submenu absolute bg-grigio-200">
          <a href={localizePath("/Ricambi_e_Componentistica")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.servizi.voce1")}</span>
              <span class="hover-text">{t("componenti.header.servizi.voce1")}</span>
            </p>
          </a>
          <a href={localizePath("/AutomazioneIndustriale")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.servizi.voce2")}</span>
              <span class="hover-text">{t("componenti.header.servizi.voce2")}</span>
            </p>
          </a>
          <a href={localizePath("/PuliziaFiltraggio")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.servizi.voce3")}</span>
              <span class="hover-text">{t("componenti.header.servizi.voce3")}</span>
            </p>
          </a>
          <a href={localizePath("/Engineering")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.servizi.voce4")}</span>
              <span class="hover-text">{t("componenti.header.servizi.voce4")}</span>
            </p>
          </a>
          <a href={localizePath("/ManutenzioneAssistenza")} class="btn-header">
            <p class="btn-title">
              <span class="text">{t("componenti.header.servizi.voce5")}</span>
              <span class="hover-text">{t("componenti.header.servizi.voce5")}</span>
            </p>
          </a>
        </div>
      </div>

      <a href={localizePath("/Progetti")} class="btn-header">
        <p class="btn-title">
          <span class="text">{t("componenti.header.progetti")}</span>
          <span class="hover-text">{t("componenti.header.progetti")}</span>
        </p>
      </a>
      <!-- <a href={localizePath("/AreaRiservata")} class="btn-header">
        <p class="btn-title">
          <span class="text">{t("componenti.header.areaRiservata")}</span>
          <span class="hover-text">{t("componenti.header.areaRiservata")}</span>
        </p>
      </a> -->
      <Button content={t("componenti.header.contatti")} type="btn-white" link={localizePath("/Contatti")} />
    </div>
    <div class="relative">
      <div class="flex flex-row gap-[0.278vw]">
        <LanguageSelector showFlag={false} languageMapping={{ en: "EN", it: "IT" }} class="abosolute" />
        <img src="/img/assets/globe.svg" alt="" />
      </div>
    </div>
  </div>

  <style>
    .submenu {
      display: none;
      position: absolute;
      top: 4vw;
      left: 0;
      background-color: #e0e0e0;
      padding: 1.667vw;
      border-radius: 0.833vw;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;
      width: fit-content;
      flex-direction: column;
      gap: 1.111vw;
    }

    .submenu.active {
      display: flex;
    }

    .menu-item.active .btn-title.titolo {
      color: #0029cc;
    }

    .menu-item.active #plus {
      display: none;
    }

    .menu-item.active #minus {
      display: block !important;
    }
  </style>
  <script>
    document.addEventListener("astro:page-load", () => {
      // Seleziona l'elemento con classe "prodotti"
      const prodottiElement = document.querySelector(".menu-item.prodotti");

      if (prodottiElement) {
        // Aggiungi un event listener per il click
        prodottiElement.addEventListener("click", (event) => {
          // Previeni la navigazione se c'è un link
          event.preventDefault();

          // Seleziona il sottomenu
          const submenuProdotti = prodottiElement.querySelector(".submenu");

          // Seleziona il sottomenu "servizi" e rimuovi l'active
          const submenuServizi = document.querySelector(".menu-item.servizi .submenu");
          if (submenuServizi && submenuServizi.classList.contains("active")) {
            submenuServizi.classList.remove("active");
            serviziElement.classList.remove("active");
          }

          // Aggiungi o rimuovi la classe active al sottomenu prodotti
          if (submenuProdotti) {
            submenuProdotti.classList.toggle("active");
            prodottiElement.classList.toggle("active");
          } else {
            console.error("Submenu prodotti not found.");
          }
        });
      }

      // Seleziona l'elemento con classe "servizi"
      const serviziElement = document.querySelector(".menu-item.servizi");

      if (serviziElement) {
        // Aggiungi un event listener per il click
        serviziElement.addEventListener("click", (event) => {
          // Previeni la navigazione se c'è un link
          event.preventDefault();

          // Seleziona il sottomenu
          const submenuServizi = serviziElement.querySelector(".submenu");

          // Seleziona il sottomenu "prodotti" e rimuovi l'active
          const submenuProdotti = document.querySelector(".menu-item.prodotti .submenu");
          if (submenuProdotti && submenuProdotti.classList.contains("active")) {
            submenuProdotti.classList.remove("active");
            prodottiElement.classList.remove("active");
          }

          // Aggiungi o rimuovi la classe active al sottomenu servizi
          if (submenuServizi) {
            submenuServizi.classList.toggle("active");
            serviziElement.classList.toggle("active");
          } else {
            console.error("Submenu servizi not found.");
          }
        });
      }
    });
  </script>
</header>
