---

---

<header class="z-50 absolute px-body h-[7.222vw] flex flex-row justify-between w-full items-center">
  <a href="/">
    <img src="/img/assets/logo-multi.svg" alt="" class="w-[11.111vw] h-[3.472vw]" />
  </a>
  <div class="flex flex-row gap-[1.944vw] items-center">
    <div class="bg-grigio-100 flex flex-row gap-[3.056vw] items-center" id="menu">
      <div class="menu-item">
        <a href="">Azienda</a>
      </div>
      <div class="menu-item">
        <a href="">Prodotti</a>
      </div>
      <div class="menu-item">
        <a href="">Servizi</a>
      </div>
      <div class="menu-item">
        <a href="">Progetti</a>
      </div>
      <div class="menu-item">
        <a href="">Area Riservata</a>
      </div>
      <div class="menu-item contatti">
        <a href="/Contatti">Contatti</a>
      </div>
    </div>
    <div class="flex flex-row gap-[0.278vw]">
      <p lang="text-grigio-200">IT</p>
      <img src="/img/assets/globe.svg" alt="" />
    </div>
  </div>
</header>
