---
import Layout from "../../layout/Layout.astro";
import Button from "../../component/Button.astro";
import TimelineAzienda from "../../component/TimelineAzienda.astro";
import Collaborazione from "../../component/Collaborazione.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");
---

<Layout title={t("azienda.metaTitle")} description={t("azienda.metaDescription")}>
  <section class="hero overflow-hidden !px-0 flex flex-col justify-between relative">
    <div class="flex flex-col lg:gap-[1.667vw] gap-[24px] items-center">
      <h1 class="text-nero text-center">
        <Trans i18nKey="azienda.hero.title">
          Oltre <span class="text-blu">30 anni di esperienza</span>
          negli Impianti di Lubrificazione e Oleodinamica
        </Trans>
      </h1>
      <Button content={t("azienda.hero.button")} type="btn-blu" link="" />
    </div>
    <div class="flex justify-center absolute w-full lg:-bottom-[26.5vw] -bottom-[220px] scroll-animation">
      <img src="/img/page/azienda/about_animation.svg" alt="" class="" />
    </div>
    <div class="w-full flex justify-center">
      <p class="text-nero scroll-title">Scroll</p>
    </div>
  </section>

  <section class="px-body py-body bg-blu flex flex-col gap-[10.417vw]">
    <div class="flex lg:flex-row flex-col justify-between lg:h-[38.889vw]">
      <div class="flex flex-col lg:gap-[28.889vw] gap-[24px] lg:w-[38.889vw]">
        <h3 class="text-white">{t("azienda.intro.descrizioneSopra")}</h3>
        <p class="text-white lg:w-[22.639vw]">{t("azienda.intro.descrizioneSotto")}</p>
      </div>
      <div class="scroll-container h-full relative overflow-hidden lg:mt-0 mt-[60px]">
        <img src="/img/page/azienda/scroll-image.jpeg" alt="" class="lg:w-[38.889vw] lg:h-[33.333vw] h-[240px] object-cover" />
      </div>
    </div>
    <div class="flex flex-col gap-[6.944vw]">
      <div class="flex flex-col lg:gap-[5.556vw] gap-[44px]">
        <div class="w-full bg-bianco lg:px-[2.222vw] px-[16px] lg:py-[0.833vw] py-[8px] lg:mt-[10.417vw] mt-[100px]">
          <h5 class="text-nero">{t("azienda.prodotti.focus")}</h5>
        </div>
        <div class="flex lg:flex-row flex-col lg:gap-[10.417vw] gap-[20px] justify-start lg:items-end items-start">
          <h2 class="text-bianco">
            <Trans i18nKey="azienda.prodotti.title">
              Che cosa ci permette di
              <span class="text-grigio-200">crescere continuamente</span>
            </Trans>
          </h2>
          <p class="text-bianco lg:w-[23.611vw]">{t("azienda.prodotti.subtitle")}</p>
        </div>
      </div>
      <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-[1.111vw] gap-[20px] griglia-animazioni">
        <!-- 01 -->
        <div class="lg:p-[1.667vw] p-[16px] flex flex-col lg:gap-[1.667vw] gap-[20px] bg-bianco lg:h-[22.222vw] h-fit relative">
          <div class="flex flex-col lg:gap-[0.556vw] gap-[8px]">
            <p class="text-blu lg:text-[2.222vw] text-[24px] lg:leading-[2.5vw] leading-[28px]">01</p>
            <h4 class="text-nero">{t("azienda.prodotti.items.1.title")}</h4>
          </div>
          <p class="text-nero lg:w-[22.639vw]">{t("azienda.prodotti.items.1.desc")}</p>
          <img src="/img/page/azienda/delocalizzazione.svg" alt="" class="lg:w-[12.014vw] w-[120px] lg:h-[12.014vw] h-[120px] lg:absolute right-[1.667vw] bottom-[1.667vw] rotate" />
        </div>
        <!-- 02 -->
        <div class="lg:p-[1.667vw] p-[16px] flex flex-col lg:gap-[1.667vw] gap-[20px] bg-bianco lg:h-[22.222vw] h-fit relative">
          <div class="flex flex-col lg:gap-[0.556vw] gap-[8px]">
            <p class="text-blu lg:text-[2.222vw] text-[24px] lg:leading-[2.5vw] leading-[28px]">02</p>
            <h4 class="text-nero">{t("azienda.prodotti.items.2.title")}</h4>
          </div>
          <p class="text-nero lg:w-[22.639vw]">{t("azienda.prodotti.items.2.desc")}</p>
          <div class="lg:w-[12.014vw] w-[120px] lg:h-[12.014vw] h-[120px] lg:absolute right-[1.667vw] bottom-[1.667vw] pulse"></div>
        </div>
        <!-- 03 -->
        <div class="lg:p-[1.667vw] p-[16px] flex flex-col lg:gap-[1.667vw] gap-[20px] bg-bianco lg:h-[22.222vw] h-fit relative">
          <div class="flex flex-col lg:gap-[0.556vw] gap-[8px]">
            <p class="text-blu lg:text-[2.222vw] text-[24px] lg:leading-[2.5vw] leading-[28px]">03</p>
            <h4 class="text-nero">{t("azienda.prodotti.items.3.title")}</h4>
          </div>
          <p class="text-nero lg:w-[22.639vw]">{t("azienda.prodotti.items.3.desc")}</p>
          <div class="lg:w-[12.014vw] w-[120px] lg:h-[12.014vw] h-[120px] lg:absolute right-[1.667vw] bottom-[1.667vw] move flex flex-col items-center justify-center">
            <div id="ballFull" class="lg:w-[5.556vw] w-[55px] lg:h-[5.556vw] h-[55px]"></div>
            <div id="ballBorder" class="lg:w-[5.556vw] w-[55px] lg:h-[5.556vw] h-[55px]"></div>
          </div>
        </div>
        <!-- 04-->
        <div class="lg:p-[1.667vw] p-[16px] flex flex-col lg:gap-[1.667vw] gap-[20px] bg-bianco lg:h-[22.222vw] h-fit relative">
          <div class="flex flex-col lg:gap-[0.556vw] gap-[8px]">
            <p class="text-blu lg:text-[2.222vw] text-[24px] lg:leading-[2.5vw] leading-[28px]">04</p>
            <h4 class="text-nero">{t("azienda.prodotti.items.4.title")}</h4>
          </div>
          <p class="text-nero lg:w-[22.639vw]">{t("azienda.prodotti.items.4.desc")}</p>
          <img src="/img/page/azienda/tutela.svg" alt="" class="lg:w-[12.014vw] w-[120px] lg:h-[12.014vw] h-[120px] lg:absolute right-[1.667vw] bottom-[1.667vw] rotate" />
        </div>
      </div>
    </div>
  </section>

  <script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap
      .timeline({ repeat: -1 })
      .to(
        "#ballFull",
        {
          y: "50%",
          duration: 0,
          ease: "power1.inOut"
        },
        0
      )
      .to(
        "#ballBorder",
        {
          y: "-50%",
          duration: 0,
          ease: "power1.inOut"
        },
        0
      )
      .to(
        "#ballFull",
        {
          y: "0%",
          duration: 5,
          ease: "power1.inOut"
        },
        0
      )
      .to(
        "#ballBorder",
        {
          y: "-0%",
          duration: 5,
          ease: "power1.inOut"
        },
        0
      )
      .to(
        ".move",
        {
          rotation: 180,
          duration: 5,
          ease: "power1.inOut",
          delay: 5
        },
        0
      )
      .to(
        "#ballFull",
        {
          y: "50%",
          duration: 5,
          ease: "power1.inOut",
          delay: 10
        },
        0
      )
      .to(
        "#ballBorder",
        {
          y: "-50%",
          duration: 5,
          ease: "power1.inOut",
          delay: 10
        },
        0
      );
  </script>

  <TimelineAzienda />

  <section class="h-screen px-body lg:pt-[18.889vw] pt-[130px]" id="img-full-azienda">
    <p class="text-bianco lg:text-[2.778vw] text-[28px] lg:leading-[3.056vw] leading-[32px] lg:w-[57.708vw] font-medium">{t("azienda.immagineFullTitle")}</p>
  </section>

  <section class="px-body py-body flex flex-col gap-[10.417vw]">
    <div class="w-full flex lg:justify-end">
      <h3 class="text-nero lg:w-[38.958vw]">{t("azienda.teams.title")}</h3>
    </div>
    <div class="flex lg:flex-row flex-col lg:gap-[1.111vw] gap-[44px] justify-between">
      <div class="lg:w-1/3 w-3/4">
        <a href="" class="cursor-pointer hover-target flex flex-col">
          <img src="/img/page/azienda/Giampiero_Nelli.png" alt="" class="w-full object-contain" />
          <div class="flex flex-col lg:gap-[1.111vw]">
            <div class="pt-[0.556vw] h-fit border-t border-nero flex flex-col lg:gap-[0.556vw] gap-[8px]">
              <p class="text-grigio-200">{t("azienda.teams.personale.1.ruolo")}</p>
              <h5 class="text-blu">{t("azienda.teams.personale.1.name")}</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="lg:w-1/3 w-3/4">
        <a href="" class="cursor-pointer hover-target flex flex-col">
          <img src="/img/page/azienda/erika_bertacchi.png" alt="" class="w-full object-contain" />
          <div class="flex flex-col lg:gap-[1.111vw]">
            <div class="pt-[0.556vw] h-fit border-t border-nero flex flex-col lg:gap-[0.556vw] gap-[8px]">
              <p class="text-grigio-200">{t("azienda.teams.personale.2.ruolo")}</p>
              <h5 class="text-blu">{t("azienda.teams.personale.2.name")}</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="lg:w-1/3 w-3/4">
        <a href="" class="cursor-pointer hover-target flex flex-col">
          <img src="/img/page/azienda/alessandro_filippi.png" alt="" class="w-full object-contain" />
          <div class="flex flex-col lg:gap-[1.111vw]">
            <div class="pt-[0.556vw] h-fit border-t border-nero flex flex-col lg:gap-[0.556vw] gap-[8px]">
              <p class="text-grigio-200">{t("azienda.teams.personale.3.ruolo")}</p>
              <h5 class="text-blu">{t("azienda.teams.personale.3.name")}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <Collaborazione />
</Layout>

<script>
  // Animazione scale-in
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    ".scroll-animation",
    { scale: 1 },
    {
      scale: 2,
      scrollTrigger: {
        markers: false,
        trigger: ".scroll-animation",
        start: () => (window.innerWidth <= 768 ? "top 90%" : "top center"),
        end: "top top",
        scrub: true
      }
    }
  );

  // Pin the image
  if (window.innerWidth > 768) {
    gsap.to(".scroll-container img", {
      scrollTrigger: {
        trigger: ".scroll-container",
        start: "-=32 top",
        end: "40% top",
        pin: true,
        pinSpacing: false,
        scrub: true,
        markers: false
      }
    });
  }
</script>
