---
import Layout from "../../layout/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title={t("contatti.metaTitle")} description={t("contatti.metaDescription")}>
  <section class="px-body lg:pt-[16.25vw] pt-[180px] flex flex-col gap-[10.417vw]">
    <div class="flex flex-col">
      <div class="flex lg:flex-row flex-col justify-between lg:gap-0 gap-[44px]">
        <h1 class="text-nero" set:html={t("contatti.hero.title")} />
        <div class="relative lg:h-[22.222vw] h-[174px] lg:w-[22.569vw] w-[174px] move flex flex-col items-center justify-center lg:mb-0 mb-[60px]">
          <div id="ballFull" class="lg:w-[10.417vw] w-[78px] lg:h-[10.417vw] h-[78px]"></div>
          <div id="ballBorder" class="lg:w-[10.417vw] w-[78px] lg:h-[10.417vw] h-[78px]"></div>
        </div>
      </div>
      <div class="flex lg:flex-row flex-col gap-[10.417vw]">
        <div class="flex flex-col gap-[0.556vw] lg:w-[22.569vw]">
          <h5 class="text-grigio-200">{t("contatti.info.sede")}</h5>
          <h3 class="text-nero">
            Via Romana Ovest 310<br />
            55016 Porcari (LU)
          </h3>
        </div>
        <div class="flex flex-col gap-[0.556vw]">
          <h5 class="text-grigio-200">{t("contatti.info.contatti")}</h5>
          <h3 class="text-nero"><a href="tel:+39 0583 429652">+39 0583 429652</a></h3>
          <h3 class="text-nero"><a href="mailto:info@celyon.it">info@celyon.it</a></h3>
        </div>
      </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-between lg:gap-[6.944vw] gap-[60px]">
      <div class="flex flex-col lg:gap-[1.667vw] gap-[20px] lg:w-[22.639vw] w-full">
        <h4 class="text-nero">{t("contatti.form.title")}</h4>
        <p class="text-nero">{t("contatti.form.desc")}</p>
      </div>
      <form action="invioEffettuato" method="POST" id="form" class="w-full lg:mt-0 mt-[44px]">
        <div class="flex flex-col lg:gap-[2.222vw]">
          <div class="flex flex-col lg:flex-row lg:gap-[10.417vw] gap-0">
            <div class="lg:w-1/2 relative">
              <input type="text" name="name" placeholder=" " required />
              <label for="name" class="text-grigio-200">{t("contatti.form.nome")}</label>
            </div>
            <div class="lg:w-1/2 relative">
              <input type="text" name="surname" placeholder=" " required />
              <label for="surname" class="text-grigio-200">{t("contatti.form.cognome")}</label>
            </div>
          </div>
          <div class="flex flex-col lg:flex-row lg:gap-[10.417vw] gap-0">
            <div class="lg:w-1/2 relative">
              <input type="email" name="email" placeholder=" " required />
              <label for="email" class="text-grigio-200">{t("contatti.form.email")}</label>
            </div>
            <div class="lg:w-1/2 relative">
              <input type="number" name="phoneNumber" placeholder=" " required />
              <label for="phoneNumber" class="text-grigio-200">{t("contatti.form.telefono")}</label>
            </div>
          </div>
          <div class="flex flex-col lg:flex-row lg:gap-[10.417vw] gap-0">
            <div class="w-full relative">
              <input type="text" name="message" placeholder=" " required />
              <label for="message" class="text-grigio-200">{t("contatti.form.messaggio")}</label>
            </div>
          </div>
          <div class="flex flex-row items-center lg:gap-[0.833vw] gap-[16px]">
            <input type="checkbox" name="privacy" id="privacy" required />
            <p class="text-grigio-200 !opacity-100 !top-0 !translate-x-0 lg:text-[0.83vw] text-[16px]" set:html={t("contatti.form.privacy")} />
          </div>

          <div class="flex flex-col lg:flex-row items-start lg:mt-0 mt-[32px]">
            <button class="btn-gen btn-blu">
              <p class="btn-title">
                <span class="text">{t("contatti.form.button")}</span>
                <span class="hover-text">{t("contatti.form.button")}</span>
              </p>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="pb-body">
      <div class="bg-grigio-100 lg:px-[2.5v] px-[16px] lg:py-[2.5v] py-[32px] flex flex-col lg:gap-[4.962vw] gap-[60px]">
        <div class="flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
          <h2 class="text-nero" set:html={t("contatti.cta.title")} />
          <p class="text-nero lg:w-[20.833vw]">{t("contatti.cta.desc")}</p>
          <div class="flex items-end">
            <h3 class="text-blu">
              <a href="mailto:info@celyon.it">info@celyon.it</a>
            </h3>
          </div>
        </div>
        <img src="/img/page/home/img-scopri.png" alt="" class="w-full lg:h-[47.917vw] h-[240px] object-cover" />
      </div>
    </div>
  </section>

  <script is:inline>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap
      .timeline({ repeat: -1 })
      .to(
        "#ballFull",
        {
          y: "50%",
          duration: 0,
          ease: "power1.inOut"
        },
        0
      )
      .to(
        "#ballBorder",
        {
          y: "-50%",
          duration: 0,
          ease: "power1.inOut"
        },
        0
      )
      .to(
        "#ballFull",
        {
          y: "0%",
          duration: 5,
          ease: "power1.inOut"
        },
        0
      )
      .to(
        "#ballBorder",
        {
          y: "-0%",
          duration: 5,
          ease: "power1.inOut"
        },
        0
      )
      .to(
        ".move",
        {
          rotation: 180,
          duration: 5,
          ease: "power1.inOut",
          delay: 5
        },
        0
      )
      .to(
        "#ballFull",
        {
          y: "50%",
          duration: 5,
          ease: "power1.inOut",
          delay: 10
        },
        0
      )
      .to(
        "#ballBorder",
        {
          y: "-50%",
          duration: 5,
          ease: "power1.inOut",
          delay: 10
        },
        0
      );
  </script>

  <script is:inline>
    // Import GSAP and ScrollTrigger
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    // GSAP Timeline for smoother animation
    const tl = gsap.timeline({ repeat: -1, repeatDelay: 1 });

    tl.to(".blue-circle", {
      y: "-5.417vw", // Move blue circle up
      scale: 1.1, // Slightly enlarge for effect
      duration: 1.2,
      ease: "power1.inOut"
    })
      .to(
        ".green-circle",
        {
          y: "5.417vw", // Move green circle down
          scale: 1.1, // Slightly enlarge for effect
          duration: 1.2,
          ease: "power1.inOut"
        },
        "<"
      ) // Start this animation at the same time as the previous one
      .to(".animazione-contatti-container", {
        rotation: 180,
        duration: 1.5,
        ease: "power2.inOut"
      })
      .to(".blue-circle", {
        y: "0", // Return blue circle to center
        scale: 1, // Return to original scale
        duration: 1.2,
        ease: "power1.inOut"
      })
      .to(
        ".green-circle",
        {
          y: "0", // Return green circle to center
          scale: 1, // Return to original scale
          duration: 1.2,
          ease: "power1.inOut"
        },
        "<"
      );
  </script>
</Layout>
