---
import Layout from "../../layout/Layout.astro";
import Form from "../../component/Form.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title={t("contatti.metaTitle")} description={t("contatti.metaDescription")}>
  <section class="px-body lg:pt-[16.25vw] pt-[180px] flex flex-col gap-[10.417vw]">
    <div class="flex flex-col">
      <div class="flex lg:flex-row flex-col justify-between lg:gap-0 gap-[44px]">
        <h1 class="text-nero" set:html={t("contatti.hero.title")} />
        <div class="relative lg:h-[22.222vw] h-[174px] lg:w-[22.569vw] w-[174px] move flex flex-col items-center justify-center lg:mb-0 mb-[60px]">
          <div id="ballFull" class="lg:w-[10.417vw] w-[78px] lg:h-[10.417vw] h-[78px]"></div>
          <div id="ballBorder" class="lg:w-[10.417vw] w-[78px] lg:h-[10.417vw] h-[78px]"></div>
        </div>
      </div>
      <div class="flex lg:flex-row flex-col gap-[10.417vw]">
        <div class="flex flex-col gap-[0.556vw] lg:w-[22.569vw]">
          <h5 class="text-grigio-200">{t("contatti.info.sede")}</h5>
          <h3 class="text-nero">
            Via Romana Ovest 310<br />
            55016 Porcari (LU)
          </h3>
        </div>
        <div class="flex flex-col gap-[0.556vw]">
          <h5 class="text-grigio-200">{t("contatti.info.contatti")}</h5>
          <h3 class="text-nero"><a href="tel:+39 0583 429652">+39 0583 429652</a></h3>
          <h3 class="text-nero"><a href="mailto:info@celyon.it">info@celyon.it</a></h3>
        </div>
      </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-between lg:gap-[6.944vw] gap-[60px]">
      <div class="flex flex-col lg:gap-[1.667vw] gap-[20px] lg:w-[22.639vw] w-full">
        <h4 class="text-nero">{t("contatti.form.title")}</h4>
        <p class="text-nero">{t("contatti.form.desc")}</p>
      </div>
      <Form />
    </div>
    <div class="pb-body">
      <div class="bg-grigio-100 lg:px-[2.5v] px-[16px] lg:py-[2.5v] py-[32px] flex flex-col lg:gap-[4.962vw] gap-[60px]">
        <div class="flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
          <h2 class="text-nero" set:html={t("contatti.cta.title")} />
          <p class="text-nero lg:w-[20.833vw]">{t("contatti.cta.desc")}</p>
          <div class="flex items-end">
            <h3 class="text-blu">
              <a href="mailto:info@celyon.it">info@celyon.it</a>
            </h3>
          </div>
        </div>
        <img src="/img/page/home/img-scopri.png" alt="" class="w-full lg:h-[47.917vw] h-[240px] object-cover" />
      </div>
    </div>
  </section>
</Layout>

<script src="../../../public/libs/Contatti.js"></script>
