---
import Layout from "../../layout/Layout.astro";
import Button from "../../component/Button.astro";
import SezioneForm from "../../component/SezioneForm.astro";
import Marquee from "../../component/Marquee.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title={t("disaereazione.metaTitle")} description={t("disaereazione.metaDescription")}>
  <section class="hero flex flex-col justify-between">
    <div class="flex lg:flex-row flex-col justify-between gap-[6.944vw] lg:items-center">
      <div class="flex flex-col lg:gap-[5.556vw] gap-[44px]">
        <div class="flex flex-col lg:gap-[1.667vw] gap-[20px]">
          <h1 class="test-nero" set:html={t("disaereazione.hero.title")} />
          <p class="text-grigio-200">{t("disaereazione.hero.desc")}</p>
        </div>
        <div class="flex lg:flex-row flex-col lg:gap-[0.556vw] gap-[8px]">
          <Button content={t("disaereazione.hero.button.left")} type="btn-blu" link="" />
          <Button content={t("disaereazione.hero.button.right")} type="btn-transparent" link="/" img="/img/assets/download.svg" />
        </div>
      </div>
      <img src="/img/page/oleodinamica/impiantiOleodinamica.png" alt="" class="lg:w-[38.889vw] w-full lg:h-[40.278vw] md:h-[330px] h-[300px] object-cover" />
    </div>
    <div class="w-full flex justify-center">
      <p class="text-nero scroll-title">Scroll</p>
    </div>
  </section>

  <section class="px-body py-body bg-blu flex flex-col lg:gap-[10.417vw] gap-[60px]">
    <div class="flex lg:flex-row flex-col lg:items-end justify-between lg:gap-0 gap-[24px]">
      <h3 class="text-bianco lg:w-[43.472vw]" set:html={t("disaereazione.prodotti.title")} />
      <p class="text-bianco lg:w-[22.639vw]">{t("disaereazione.prodotti.desc")}</p>
    </div>
    <Marquee />
    <div class="w-full lg:h-[48.611vw] h-[320px]">
      <img src="/img/page/oleodinamica/img-full-oleodinamica.jpeg" alt="" class="w-full h-full object-cover" />
    </div>
  </section>

  <section class="px-body py-body">
    <div class="flex lg:flex-row flex-col justify-between lg:gap-0 gap-[32px]">
      <div class="flex flex-col lg:gap-[2.222vw] gap-[20px] lg:w-[34.722vw] lg:order-1 order-2">
        <h2 class="text-nero" set:html={t("disaereazione.prodotti.title")} />
        <p class="text-nero">{t("disaereazione.prodotti.desc")}</p>
      </div>
      <div class="w-[22.5vw] flex flex-col lg:gap-[1.226vw] gap-[17px] relative lg:h-fit h-[170px] lg:order-2 order-1" id="animation-oleodinamica">
        <div class="lg:h-[5.893vw] h-[84px] lg:w-[5.893vw] w-[84px] bg-blu rounded-full absolute top-0" id="palla-1"></div>
        <div class="lg:h-[5.893vw] h-[84px] lg:w-[5.893vw] w-[84px] bg-blu rounded-full absolute bottom-0" id="palla-2"></div>
      </div>
    </div>
    <div class="lg:grid hidden grid-cols-3 gap-[1.111vw] mt-[10.417vw]">
      {
        () => {
          const prodottiData = t("disaereazione.prodotti.array", { returnObjects: true });

          const prodotti =
            prodottiData && typeof prodottiData === "object"
              ? Object.keys(prodottiData).map((key) => ({
                  title: prodottiData[key].title,
                  desc: prodottiData[key].desc
                }))
              : [];

          return prodotti.map((prodotto, index) => (
            <div class="p-[1.667vw] flex flex-col gap-[1.667vw] bg-grigio-100 h-[22.222vw]">
              <div class="flex flex-col gap-[0.556vw]">
                <p class="text-blu text-[2.222vw] leading-[2.5vw]">{String(index + 1).padStart(2, "0")}</p>
                <h4 class="text-nero">{prodotto.title}</h4>
              </div>
              <p class="text-nero w-[22.639vw]">{prodotto.desc}</p>
            </div>
          ));
        }
      }
    </div>
    <div class="bg-blu lg:py-[3.056vw] py-[32px] lg:px-[2.222vw] px-[16px] flex flex-col lg:gap-[10.417vw] gap-[60px] lg:mt-[10.417vw] mt-[60px]">
      <div class="flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
        <h2 class="text-bianco" set:html={t("disaereazione.numeri.title")} />
        <p class="text-bianco lg:w-[20.833vw]">{t("disaereazione.numeri.desc")}</p>
        <div class="flex items-end gap-[0.556vw]">
          <Button content={t("disaereazione.numeri.button")} type="btn-gray" link="" />
        </div>
      </div>
      <div class="flex lg:flex-row flex-col lg:gap-0 gap-[44px] justify-between">
        {
          () => {
            const numeriData = t("disaereazione.numeri.contatori", { returnObjects: true });

            const numeri =
              numeriData && typeof numeriData === "object"
                ? Object.keys(numeriData).map((key) => ({
                    title: numeriData[key].title,
                    number: numeriData[key].number
                  }))
                : [];

            return numeri.map((numero, index) => (
              <div class="flex flex-col lg:gap-[0.556vw] gap-[8px] w-full">
                <h1 id="counter-1" class="text-grigio-200">
                  {numero.number}
                </h1>
                <h4 class="text-grigio-50">{numero.title}</h4>
              </div>
            ));
          }
        }
      </div>
    </div>
  </section>

  <section class="lg:h-screen md:h-[500px] h-[840px] px-body lg:pt-[18.889vw] pt-[130px] flex flex-col lg:gap-[2.222vw] gap-[30px]" id="img-full-azienda">
    <h1 class="text-bianco lg:w-[57.708vw]" set:html={t("disaereazione.imgFull.title")} />
    <Button content={t("disaereazione.imgFull.button")} type="btn-white" link="/" img="/img/assets/download.svg" />
  </section>

  <SezioneForm />

  <script is:inline>
    import Swiper from "swiper";
    import { Navigation } from "swiper/modules";
    import "swiper/css";
    import "swiper/css/navigation";

    document.addEventListener("astro:page-load", () => {
      new Swiper(".swiper-impianti", {
        breakpoints: {
          390: {
            spaceBetween: 16,
            slidesPerView: 1.1
          },
          1024: {
            spaceBetween: 16,
            slidesPerView: 1.4
          }
        }
      });
    });
  </script>
</Layout>
