---
import Layout from "../layout/Layout.astro";
import Button from "../component/Button.astro";
import SwiperProdotti from "../component/SwiperProdotti.astro";
import SezioneForm from "../component/SezioneForm.astro";
import ProgettiCorrelati from "../component/ProgettiCorrelati.astro";
import Loader from "../component/Loader.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("it");
---

<Layout title={t("home.metaTitle")} description={t("home.metaDescription")}>
  <!-- <Loader /> -->

  <section class="hero flex flex-col justify-between">
    <div class="flex flex-row justify-between h-full">
      <div class="flex flex-col justify-between">
        <h1 class="text-nero" set:html={t("home.hero.title")} />
        <div class="lg:hidden flex flex-col gap-[40px] items-center md:mt-[120px] mt-[40px]">
          <img src="/img/assets/palle.svg" alt="" class="palla-rotante w-[266px]" />
        </div>

        <div class="flex flex-col lg:gap-[1.667vw] gap-[16px] lg:w-[22.639vw] lg:mt-0 md:mt-[120px] mt-[40px]">
          <p class="text-nero">{t("home.hero.subtitle")}</p>
          <Button content={t("home.hero.button")} type="btn-blu" link="" />
        </div>
      </div>

      <div class="lg:flex hidden flex-col justify-end h-full">
        <img src="/img/assets/palle.svg" alt="" class="palla-rotante w-[42.345vw]" />
      </div>
    </div>

    <div class="w-full lg:flex hidden justify-center">
      <p class="text-nero scroll-title">Scroll</p>
    </div>
  </section>

  <section class="px-body py-body">
    <div class="bg-grigio-100 lg:px-[2.5vw] px-[16px] lg:py-[2.5vw] py-[32px] flex flex-col lg:gap-[4.962vw] gap-[60px] scroll-animation">
      <div class="flex lg:flex-row flex-col lg:gap-0 gap-[20px] justify-between">
        <h2 class="text-nero" set:html={t("home.brand.title")} />
        <p class="text-nero lg:w-[20.833vw]" set:html={t("home.brand.desc")} />
        <div class="flex items-end">
          <Button content={t("home.brand.button")} type="btn-blu" link="/Azienda" />
        </div>
      </div>
      <img src="/img/page/home/img-scopri.png" alt="" class="w-full lg:h-[47.917vw] h-[320px] object-cover" />
    </div>
  </section>

  <section class="px-body">
    <div class="flex flex-col lg:gap-[5.556vw] gap-[44px] justify-end">
      <div class="w-full bg-blu lg:px-[2.222vw] px-[16px] lg:py-[0.833vw] py-[8px]">
        <h5 class="text-bianco">{t("home.prodotti.focus")}</h5>
      </div>
      <div class="flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
        <h2 class="text-nero" set:html={t("home.prodotti.title")} />
        <div>
          <p class="text-nero lg:w-[20.833vw]" set:html={t("home.prodotti.desc")} />
        </div>
        <div class="flex items-end">
          <div class="flex flex-row justify-end lg:gap-[0.278vw] gap-[6px] lg:mt-[3.056vw] mt-0">
            <div class="swiper-prodotti-prev cursor-pointer rotate-180">
              <img src="/img/assets/arrow-blu.svg" alt="Prev" class="lg:h-[3.75vw] h-[44px]" />
            </div>
            <div class="swiper-prodotti-next cursor-pointer">
              <img src="/img/assets/arrow-blu.svg" alt="Next" class="lg:h-[3.75vw] h-[44px]" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <SwiperProdotti />
  </section>

  <section class="px-body py-body flex flex-col lg:gap-[3.056vw] gap-[44px] items-center">
    <h4 class="text-nero">{t("home.partners")}</h4>
    <div class="grid lg:grid-cols-4 grid-cols-2 lg:gap-[6.944vw] gap-[32px]">
      <img src="/img/loghi/hydac.svg" alt="" />
      <img src="/img/loghi/hydac.svg" alt="" />
      <img src="/img/loghi/hydac.svg" alt="" />
      <img src="/img/loghi/hydac.svg" alt="" />
    </div>
  </section>

  <section class="lg:h-screen md:h-[500px] h-[840px] flex md:items-center items-start justify-center relative lg:py-0 py-[100px]" id="img-full-home">
    <div class="flex flex-col lg:gap-[2.222vw] gap-[24px] lg:w-[57.708vw] w-[90%] items-center z-50 relative">
      <p class="text-white lg:text-[2.778vw] text-[24px] lg:leading-[3.056vw] leading-[28px] text-center">{t("home.imageFull.title")}</p>
      <Button content={t("home.imageFull.button")} type="btn-white" link="/Contatti" />
    </div>
    <div class="bg-transparent border border-bianco rounded-[1000px] lg:w-[59.792vw] w-[450px] lg:h-[59.792vw] h-[450px] absolute left-0 lg:block hidden" id="cerchio-sx"></div>
    <div class="bg-transparent border border-bianco rounded-[1000px] lg:w-[59.792vw] w-[450px] lg:h-[59.792vw] h-[450px] absolute right-0 lg:block hidden" id="cerchio-dx"></div>
  </section>

  <section class="px-body py-body flex flex-col lg:gap-[6.944vw] gap-[60px] bg-blu">
    <div class="flex lg:flex-row flex-col justify-between lg:gap-0 gap-[32px]">
      <div class="flex flex-col gap-[2.222vw] lg:w-[31.25vw] lg:order-1 order-2">
        <h2 class="text-white">{t("home.servizi.title")}</h2>
        <p class="text-white" set:html={t("home.servizi.desc")} />
      </div>
      <div class="grid grid-cols-4 lg:gap-x-[0.972vw] gap-x-[6px] lg:gap-y-[1.25vw] gap-y-[16px] griglia-colorata lg:order-2 order-1 w-fit">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </div>
    </div>
    <div class="flex flex-col">
      {
        (() => {
          const servicesData = t("home.servizi.array", { returnObjects: true });

          const services =
            servicesData && typeof servicesData === "object"
              ? Object.keys(servicesData).map((key, index) => {
                  return {
                    number: index + 1,
                    title: servicesData[key].title,
                    link: servicesData[key].link
                  };
                })
              : [];

          return services.map((service, index) => (
            <a href={service.link} class="block">
              <div class="flex flex-row justify-between py-[2.222vw] px-[1.667vw] border-y border-bianco boxed-animation items-center lg:h-fit h-[100px]">
                <div class="flex flex-row lg:gap-[1.667vw] gap-[24px] items-center">
                  <h3 class="text-grigio-200 number">{("0" + (index + 1)).slice(-2)}</h3>
                  <h3 class="text-grigio-50 title">{service.title}</h3>
                </div>
                <div class="overflow-hidden relative">
                  <img src="/img/assets/arrow-45deg-white.svg" alt="" class="arrow-white lg:w-[1.829vw] w-[20px]" />
                  <img src="/img/assets/arrow-45deg-blu.svg" alt="" class="arrow-blu lg:w-[1.829vw] w-[20px]" />
                </div>
              </div>
            </a>
          ));
        })()
      }
    </div>
  </section>

  <!-- <ProgettiCorrelati /> -->

  <SezioneForm />

  <script is:inline>
    // Animazione palle colorate

    const divs = document.querySelectorAll(".griglia-colorata > div");

    setInterval(() => {
      divs.forEach((div) => div.classList.remove("bg-bianco"));

      const randomIndex = Math.floor(Math.random() * divs.length);
      const randomDiv = divs[randomIndex];

      randomDiv.classList.add("bg-bianco");
      const randomIndex2 = Math.floor(Math.random() * divs.length);
      const randomDiv2 = divs[randomIndex2];

      randomDiv2.classList.add("bg-bianco");
    }, 1000);
  </script>

  <script src="../../public/libs/SwiperHome.js"></script>
  <script src="../../public/libs/Index.js"></script>
</Layout>
