---
// Includes
import Layout from "../layout/Layout.astro";

// Component
import Button from "../component/Button.astro";
import SwiperProdotti from "../component/SwiperProdotti.astro";
import Form from "../component/Form.astro";
import ProgettiCorrelati from "../component/ProgettiCorrelati.astro";
import Loader from "../component/Loader.astro";
---

<Layout title="title" description="description">
  <Loader />
  <div id="overlayhome"></div>
  <section class="hero flex flex-col justify-between">
    <div class="flex flex-row justify-between h-full">
      <div class="flex flex-col justify-between h-full">
        <h1 class="text-nero">
          Progettazione e produzione<br />
          di impianti di <span class="text-blu">lubrificazione</span><br />
          e <span class="text-blu">oleodinamica</span> per l’industria.
        </h1>
        <div class="lg:hidden flex flex-col gap-[40px] items-center">
          <img src="/img/assets/palle.svg" alt="" class="palla-rotante w-[266px]" />
          <p class="text-nero scroll-title">Scroll</p>
        </div>
        <div class="flex flex-col lg:gap-[1.667vw] gap-[16px] lg:w-[22.639vw]">
          <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione che approfondisce il core business aziendale, creando ancora più curiosità nell’utente per invogliarlo a scroll.</p>
          <Button content="Scopri le nostre soluzioni" type="btn-blu" link="" />
        </div>
      </div>
      <div class="lg:flex hidden flex-col justify-end h-full">
        <img src="/img/assets/palle.svg" alt="" class="palla-rotante w-[42.345vw]" />
      </div>
    </div>
    <div class="w-full lg:flex hidden justify-center">
      <p class="text-nero scroll-title">Scroll</p>
    </div>
  </section>

  <section class="px-body py-body">
    <div class="bg-grigio-100 lg:px-[2.5vw] px-[16px] lg:py-[2.5vw] py-[32px] flex flex-col lg:gap-[4.962vw] gap-[60px] scroll-animation">
      <div class="flex lg:flex-row flex-col lg:gap-0 gap-[20px] justify-between">
        <h2 class="text-nero">
          Bertacchi e Filippi<br />
          diventa Celyon
        </h2>
        <p class="text-nero lg:w-[20.833vw]">In questo paragrafo dovrà essere inserita una breve descrizione che approfondisce il fatto che Bertacchi e Filippi adesso è Celyon, si rimanderà alla pagina “azienda”, dove verrà approfondito il tutto.</p>
        <div class="flex items-end">
          <Button content="Scopri l'azienda" type="btn-blu" link="" />
        </div>
      </div>
      <img src="/img/page/home/img-scopri.png" alt="" class="w-full lg:h-[47.917vw] h-[320px] object-cover" />
    </div>
  </section>

  <section class="px-body">
    <div class="flex flex-col lg:gap-[5.556vw] gap-[44px] justify-end">
      <div class="w-full bg-blu lg:px-[2.222vw] px-[16px] lg:py-[0.833vw] py-[8px]">
        <h5 class="text-bianco">I nostri prodotti</h5>
      </div>
      <div class="flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
        <h2 class="text-nero">
          Soluzioni di pulizia e filtraggio<br />
          efficienti e certificate e <br />
          <span class="text-blu">impianti personalizzati.</span>
        </h2>
        <div>
          <p class="text-nero lg:w-[20.833vw]">In questo paragrafo dovrà essere inserita una breve descrizione che approfondisce il core business aziendale, creando ancora più curiosità nell’utente per invogliarlo a scroll.</p>
        </div>
        <div class="flex items-end">
          <div class="flex flex-row justify-end lg:gap-[0.278vw] gap-[6px] lg:mt-[3.056vw] mt-0">
            <div class="swiper-prodotti-prev cursor-pointer rotate-180">
              <img src="/img/assets/arrow-blu.svg" alt="Prev" class="lg:h-[3.75vw] h-[44px]" />
            </div>
            <div class="swiper-prodotti-next cursor-pointer">
              <img src="/img/assets/arrow-blu.svg" alt="Next" class="lg:h-[3.75vw] h-[44px]" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <SwiperProdotti />
  </section>

  <section class="px-body py-body flex flex-col lg:gap-[3.056vw] gap-[44px] items-center">
    <h4 class="text-nero">I nostri partner</h4>
    <div class="grid lg:grid-cols-4 grid-cols-2 lg:gap-[6.944vw] gap-[32px]">
      <img src="/img/loghi/hydac.svg" alt="" />
      <img src="/img/loghi/hydac.svg" alt="" />
      <img src="/img/loghi/hydac.svg" alt="" />
      <img src="/img/loghi/hydac.svg" alt="" />
    </div>
  </section>

  <section class="lg:h-screen h-[840px] flex lg:items-center items-start justify-center relative lg:py-0 py-[100px]" id="img-full-home">
    <div class="flex flex-col lg:gap-[2.222vw] gap-[24px] lg:w-[57.708vw] w-[90%] items-center z-50 relative">
      <p class="text-white lg:text-[2.778vw] text-[24px] lg:leading-[3.056vw] leading-[28px] text-center">In questo paragrafo una breve descrizione emozionale sul vantaggio di affidarsi a Celyon. Vorrei che fosse espresso in cosa Celyon può fare la differenza, come può dare risposta alle esigenze del cliente.</p>
      <Button content="Contattaci" type="btn-white" link="" />
    </div>
    <div class="bg-transparent border border-bianco rounded-[1000px] lg:w-[59.792vw] w-[450px] lg:h-[59.792vw] h-[450px] absolute left-0 lg:block hidden" id="cerchio-sx"></div>
    <div class="bg-transparent border border-bianco rounded-[1000px] lg:w-[59.792vw] w-[450px] lg:h-[59.792vw] h-[450px] absolute right-0 lg:block hidden" id="cerchio-dx"></div>
  </section>

  <section class="px-body py-body flex flex-col lg:gap-[6.944vw] gap-[60px] bg-blu">
    <div class="flex lg:flex-row flex-col justify-between lg:gap-0 gap-[32px]">
      <div class="flex flex-col gap-[2.222vw] lg:w-[31.25vw] lg:order-1 order-2">
        <h2 class="text-white">I nostri servizi per il tuo impianto di lubrificazione e oleodinamica.</h2>
        <p class="text-white">In questo paragrafo dovrà essere inserita una breve descrizione introduttiva ai servizi di Celyon, ciascuna voce avrà una pagina dedicata. Includere anche come è l’approccio di Celyon nello svolgere i servizi.</p>
      </div>
      <div class="grid grid-cols-4 lg:gap-x-[0.972vw] gap-x-[6px] lg:gap-y-[1.25vw] gap-y-[16px] griglia-colorata lg:order-2 order-1 w-fit">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </div>
    </div>
    <div class="flex flex-col">
      <!-- 01 -->
      <div class="flex flex-row justify-between py-[2.222vw] px-[1.667vw] border-y border-bianco boxed-animation items-center lg:h-fit h-[100px]">
        <div class="flex flex-row lg:gap-[1.667vw] gap-[24px] items-center">
          <h3 class="text-grigio-200 number">01</h3>
          <h3 class="text-grigio-50 title">Ricambi e Componentistica</h3>
        </div>
        <div class="overflow-hidden relative">
          <img src="/img/assets/arrow-45deg-white.svg" alt="" class="arrow-white lg:w-[1.829vw] w-[20px]" />
          <img src="/img/assets/arrow-45deg-blu.svg" alt="" class="arrow-blu lg:w-[1.829vw] w-[20px]" />
        </div>
      </div>
      <!-- 02 -->
      <div class="flex flex-row justify-between lg:py-[2.222vw] py-[16px] lg:px-[1.667vw] px-0 border-b border-bianco boxed-animation items-center lg:h-fit h-[100px]">
        <div class="flex flex-row lg:gap-[1.667vw] gap-[24px] items-center">
          <h3 class="text-grigio-200 number">02</h3>
          <h3 class="text-grigio-50 title">Automatizzazione Industriale</h3>
        </div>
        <div class="overflow-hidden relative">
          <img src="/img/assets/arrow-45deg-white.svg" alt="" class="arrow-white lg:w-[1.829vw] w-[20px]" />
          <img src="/img/assets/arrow-45deg-blu.svg" alt="" class="arrow-blu lg:w-[1.829vw] w-[20px]" />
        </div>
      </div>
      <!-- 03 -->
      <div class="flex flex-row justify-between lg:py-[2.222vw] py-[16px] lg:px-[1.667vw] px-0 border-b border-bianco boxed-animation items-center lg:h-fit h-[100px]">
        <div class="flex flex-row lg:gap-[1.667vw] gap-[24px] items-center">
          <h3 class="text-grigio-200 number">03</h3>
          <h3 class="text-grigio-50 title">Pulizia e Filtraggio</h3>
        </div>
        <div class="overflow-hidden relative">
          <img src="/img/assets/arrow-45deg-white.svg" alt="" class="arrow-white lg:w-[1.829vw] w-[20px]" />
          <img src="/img/assets/arrow-45deg-blu.svg" alt="" class="arrow-blu lg:w-[1.829vw] w-[20px]" />
        </div>
      </div>
      <!-- 04 -->
      <div class="flex flex-row justify-between lg:py-[2.222vw] py-[16px] lg:px-[1.667vw] px-0 border-b border-bianco boxed-animation items-center lg:h-fit h-[100px]">
        <div class="flex flex-row lg:gap-[1.667vw] gap-[24px] items-center">
          <h3 class="text-grigio-200 number">04</h3>
          <h3 class="text-grigio-50 title">Engineering</h3>
        </div>
        <div class="overflow-hidden relative">
          <img src="/img/assets/arrow-45deg-white.svg" alt="" class="arrow-white lg:w-[1.829vw] w-[20px]" />
          <img src="/img/assets/arrow-45deg-blu.svg" alt="" class="arrow-blu lg:w-[1.829vw] w-[20px]" />
        </div>
      </div>
      <!-- 05 -->
      <div class="flex flex-row justify-between lg:py-[2.222vw] py-[16px] lg:px-[1.667vw] px-0 border-b border-bianco boxed-animation items-center lg:h-fit h-[100px]">
        <div class="flex flex-row lg:gap-[1.667vw] gap-[24px] items-center">
          <h3 class="text-grigio-200 number">05</h3>
          <h3 class="text-grigio-50 title">Manutenzione e Assistenza</h3>
        </div>
        <div class="overflow-hidden relative">
          <img src="/img/assets/arrow-45deg-white.svg" alt="" class="arrow-white lg:w-[1.829vw] w-[20px]" />
          <img src="/img/assets/arrow-45deg-blu.svg" alt="" class="arrow-blu lg:w-[1.829vw] w-[20px]" />
        </div>
      </div>
    </div>
  </section>

  <ProgettiCorrelati />

  <Form />

  <script>
    // Animazione palle colorate

    const divs = document.querySelectorAll(".griglia-colorata > div");

    setInterval(() => {
      divs.forEach((div) => div.classList.remove("bg-bianco"));

      const randomIndex = Math.floor(Math.random() * divs.length);
      const randomDiv = divs[randomIndex];

      randomDiv.classList.add("bg-bianco");
      const randomIndex2 = Math.floor(Math.random() * divs.length);
      const randomDiv2 = divs[randomIndex2];

      randomDiv2.classList.add("bg-bianco");
    }, 1000);
  </script>

  <script>
    // Animazione scale-in

    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.fromTo(
      ".scroll-animation",
      { scale: 0.7 }, // Scala iniziale
      {
        scale: 1, // Scala finale con lo scroll
        scrollTrigger: {
          markers: false,
          trigger: ".scroll-animation",
          start: () => (window.innerWidth <= 390 ? "top 90%" : "-50% 80%"),
          end: () => (window.innerWidth <= 390 ? "top top" : "20% top"),
          scrub: true
        }
      }
    );

    // Animazione palle
    gsap.fromTo(
      "#cerchio-sx",
      { left: "-50%" },
      {
        left: "0",
        scrollTrigger: {
          markers: false,
          trigger: "#img-full-home",
          start: "top center",
          end: "bottom bottom",
          scrub: true
        }
      }
    );

    gsap.fromTo(
      "#cerchio-dx",
      { right: "-50%" },
      {
        right: "0",
        scrollTrigger: {
          markers: false,
          trigger: "#img-full-home",
          start: "top center",
          end: "bottom bottom",
          scrub: true
        }
      }
    );
  </script>
  <script src="../libs/SwiperHome.js"></script>
</Layout>
