---
import Layout from "../layout/Layout.astro";
import Button from "../component/Button.astro";
import Form from "../component/Form.astro";
---

<Layout title="title" description="description">
  <section class="hero flex flex-col justify-between">
    <div class="flex lg:flex-row flex-col justify-between gap-[6.944vw] lg:items-center">
      <div class="flex flex-col lg:gap-[5.556vw] gap-[44px]">
        <div class="flex flex-col lg:gap-[1.667vw] gap-[20px]">
          <h1 class="test-nero">
            Impianti di Lubrificazione<br />
            a Olio e a Grasso
          </h1>
          <p class="text-grigio-200">Breve frase che indica il vantaggio di avere questo prodotto.</p>
        </div>
        <div class="flex lg:flex-row flex-col lg:gap-[0.556vw] gap-[8px]">
          <Button content="Richiedi informazioni" type="btn-blu" link="" />
          <Button content="Scarica scheda tecnica" type="btn-transparent" link="/" img="/img/assets/download.svg" />
        </div>
      </div>
      <img src="/img/page/oleodinamica/impiantiOleodinamica.png" alt="" class="lg:w-[38.889vw] w-full lg:h-[40.278vw] object-cover" />
    </div>
    <div class="w-full flex justify-center">
      <p class="text-nero scroll-title">Scroll</p>
    </div>
  </section>

  <section class="px-body py-body bg-blu flex flex-col lg:gap-body gap-[60px]">
    <div class="flex lg:flex-row flex-col lg:items-end justify-between lg:gap-0 gap-[24px]">
      <h3 class="text-bianco lg:w-[43.472vw]">In questo paragrafo dovrà essere inserita una descrizione introduttiva al prodotto. Di che cosa si tratta, in che ambienti e settori è utilizzato, in che cosa può aiutare.</h3>
      <p class="text-bianco lg:w-[22.639vw]">In questo paragrafo dovrà essere inserita una breve descrizione che approfondisce il core business aziendale, creando ancora più curiosità nell’utente per invogliarlo a scroll.</p>
    </div>
    <div class="marquee-container w-full bg-bianco lg:py-[2.5vw] py-[18px] overflow-hidden whitespace-nowrap">
      <div class="marquee-content inline-flex gap-[6.944vw]">
        <h4 class="text-grigio-100">Industriale</h4>
        <h4 class="text-grigio-100">Industriale</h4>
        <h4 class="text-grigio-100">Industriale</h4>
        <h4 class="text-grigio-100">Industriale</h4>
        <h4 class="text-grigio-100">Industriale</h4>
        <h4 class="text-grigio-100">Industriale</h4>
        <h4 class="text-grigio-100">Industriale</h4>
        <h4 class="text-grigio-100">Industriale</h4>
        <h4 class="text-bianco">Industriale</h4>
      </div>
    </div>
    <div class="w-full lg:h-[48.611vw] h-[320px]">
      <img src="/img/page/oleodinamica/img-full-oleodinamica.jpeg" alt="" class="w-full h-full object-cover" />
    </div>
  </section>

  <section class="px-body py-body flex flex-col gap-body">
    <div class="flex flex-col gap-[5.556vw]">
      <div class="flex flex-row justify-between items-end">
        <h2 class="text-nero">
          Le nostre tipologie di<br />
          impianti di lubrificazione
        </h2>
        <p class="text-nero w-[20.833vw]">Una breve descrizione che introduca ai prodotti e alle specificità di ognuno.</p>
        <div class="flex items-end gap-[0.556vw]">
          <Button content="Hai una richiesta" type="btn-blu" link="" />
        </div>
      </div>
      <div class="accordion">
        <!-- 01 -->
        <div class="accordion-item accordion-item-dark accordion-big">
          <div class="accordion-header px-[1.667vw] py-[2.222vw]">
            <div class="flex flex-row gap-[1.667vw]">
              <h3 class="text-grigio-100 w-[2.778vw] number">01</h3>
              <h3 class="text-blu title">Lubrificazione a grasso a linea doppia</h3>
            </div>
            <span class="symbol text-blu">+</span>
          </div>
          <div class="accordion-content px-[1.667vw]">
            <div class="flex flex-col gap-[5.556vw] mb-[2.222vw] pt-[3.056vw]">
              <p class="text-nero w-1/3">In questo paragrafo dovrà essere inserita una breve descrizione introduttiva ai servizi di Celyon, ciascuna voce avrà una pagina dedicata. Includere anche come è l’approccio di Celyon nello svolgere i servizi.</p>
              <div class="grid grid-cols-3 gap-[1.111vw]">
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Utilizzo ad alte pressioni</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Espansione o modifica del sistema</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Business Continuity</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 02 -->
        <div class="accordion-item accordion-item-dark accordion-big">
          <div class="accordion-header px-[1.667vw] py-[2.222vw]">
            <div class="flex flex-row gap-[1.667vw]">
              <h3 class="text-grigio-100 w-[2.778vw] number">02</h3>
              <h3 class="text-blu title">Sistema progessivo</h3>
            </div>
            <span class="symbol text-blu">+</span>
          </div>
          <div class="accordion-content px-[1.667vw]">
            <div class="flex flex-col gap-[5.556vw] mb-[2.222vw] pt-[3.056vw]">
              <p class="text-nero w-1/3">In questo paragrafo dovrà essere inserita una breve descrizione introduttiva ai servizi di Celyon, ciascuna voce avrà una pagina dedicata. Includere anche come è l’approccio di Celyon nello svolgere i servizi.</p>
              <div class="grid grid-cols-3 gap-[1.111vw]">
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Utilizzo ad alte pressioni</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Espansione o modifica del sistema</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Business Continuity</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 03 -->
        <div class="accordion-item accordion-item-dark accordion-big">
          <div class="accordion-header px-[1.667vw] py-[2.222vw]">
            <div class="flex flex-row gap-[1.667vw]">
              <h3 class="text-grigio-100 w-[2.778vw] number">03</h3>
              <h3 class="text-blu title">Sistema a linea singola</h3>
            </div>
            <span class="symbol text-blu">+</span>
          </div>
          <div class="accordion-content px-[1.667vw]">
            <div class="flex flex-col gap-[5.556vw] mb-[2.222vw] pt-[3.056vw]">
              <p class="text-nero w-1/3">In questo paragrafo dovrà essere inserita una breve descrizione introduttiva ai servizi di Celyon, ciascuna voce avrà una pagina dedicata. Includere anche come è l’approccio di Celyon nello svolgere i servizi.</p>
              <div class="grid grid-cols-3 gap-[1.111vw]">
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Utilizzo ad alte pressioni</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Espansione o modifica del sistema</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Business Continuity</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 04 -->
        <div class="accordion-item accordion-item-dark accordion-big">
          <div class="accordion-header px-[1.667vw] py-[2.222vw]">
            <div class="flex flex-row gap-[1.667vw]">
              <h3 class="text-grigio-100 w-[2.778vw] number">04</h3>
              <h3 class="text-blu title">Sistema a ricircolo di olio</h3>
            </div>
            <span class="symbol text-blu">+</span>
          </div>
          <div class="accordion-content px-[1.667vw]">
            <div class="flex flex-col gap-[5.556vw] mb-[2.222vw] pt-[3.056vw]">
              <p class="text-nero w-1/3">In questo paragrafo dovrà essere inserita una breve descrizione introduttiva ai servizi di Celyon, ciascuna voce avrà una pagina dedicata. Includere anche come è l’approccio di Celyon nello svolgere i servizi.</p>
              <div class="grid grid-cols-3 gap-[1.111vw]">
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Utilizzo ad alte pressioni</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Espansione o modifica del sistema</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
                <div class="bg-grigio-100 py-[3.056vw] px-[1.667vw] flex flex-col gap-[1.667vw]">
                  <h4 class="text-nero">Business Continuity</h4>
                  <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-blu py-[3.056vw] px-[2.222vw] flex flex-col gap-body">
      <div class="flex flex-row justify-between items-end">
        <h2 class="text-bianco">Alcuni numeri</h2>
        <p class="text-bianco w-[20.833vw]">Breve descrizione su cosa può far risparmiare il prodotto.</p>
        <div class="flex items-end gap-[0.556vw]">
          <Button content="Richiedi un preventivo" type="btn-white" link="" />
        </div>
      </div>
      <div class="flex flex-row justify-between">
        <div class="flex flex-col gap-[0.556vw] w-full">
          <h1 id="counter-1" class="text-grigio-200">130</h1>
          <h4 class="text-grigio-50">Contatore 1</h4>
        </div>
        <div class="flex flex-col gap-[0.556vw] w-full">
          <h1 id="counter-2" class="text-grigio-200">8h</h1>
          <h4 class="text-grigio-50">Contatore 2</h4>
        </div>
        <div class="flex flex-col gap-[0.556vw] w-full">
          <h1 id="counter-3" class="text-grigio-200">+2000</h1>
          <h4 class="text-grigio-50">Contatore 3</h4>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between">
      <div class="flex flex-col gap-[2.222vw] w-[34.722vw]">
        <h2 class="text-nero">
          Impianto di oleodinamica<br class="lg:block hidden" />
          ed Elettroidraulica <span class="text-blu">su misura</span>.
        </h2>
        <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione introduttiva ai servizi di Celyon, ciascuna voce avrà una pagina dedicata. Includere anche come è l’approccio di Celyon nello svolgere i servizi.</p>
      </div>
      <div class="w-[22.5vw] flex flex-col lg:gap-[1.226vw] gap-[17px] relative lg:h-fit h-[170px] lg:order-2 order-1" id="animation-oleodinamica">
        <div class="lg:h-[5.893vw] h-[84px] lg:w-[5.893vw] w-[84px] bg-blu rounded-full absolute top-0" id="palla-1"></div>
        <div class="lg:h-[5.893vw] h-[84px] lg:w-[5.893vw] w-[84px] bg-blu rounded-full absolute bottom-0" id="palla-2"></div>
      </div>
    </div>
    <div class="lg:grid hidden grid-cols-3 gap-[1.111vw] mt-[10.417vw]">
      <!-- 01 -->
      <div class="p-[1.667vw] flex flex-col gap-[1.667vw] bg-grigio-100 h-[22.222vw]">
        <div class="flex flex-col gap-[0.556vw]">
          <p class="text-blu text-[2.222vw] leading-[2.5vw]">01</p>
          <h4 class="text-nero">Progettazione</h4>
        </div>
        <p class="text-nero w-[22.639vw]">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
      </div>
      <!-- 02 -->
      <div class="p-[1.667vw] flex flex-col gap-[1.667vw] bg-grigio-100 h-[22.222vw]">
        <div class="flex flex-col gap-[0.556vw]">
          <p class="text-blu text-[2.222vw] leading-[2.5vw]">02</p>
          <h4 class="text-nero">Produzione</h4>
        </div>
        <p class="text-nero w-[22.639vw]">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di produzione.</p>
      </div>
      <!-- 03 -->
      <div class="p-[1.667vw] flex flex-col gap-[1.667vw] bg-grigio-100 h-[22.222vw]">
        <div class="flex flex-col gap-[0.556vw]">
          <p class="text-blu text-[2.222vw] leading-[2.5vw]">03</p>
          <h4 class="text-nero">Installazione</h4>
        </div>
        <p class="text-nero w-[22.639vw]">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di installazione.</p>
      </div>
    </div>
    <div class="lg:hidden block mt-[60px]">
      <div class="swiper swiper-impianti h-[240px]">
        <div class="swiper-wrapper">
          <!-- 01 -->
          <div class="swiper-slide">
            <div class="p-[16px] flex flex-col gap-[20px] bg-grigio-100 h-full">
              <div class="flex flex-col gap-[8px]">
                <p class="text-blu text-[20px] leading-[24px]">01</p>
                <h4 class="text-nero">Progettazione</h4>
              </div>
              <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di progettazione.</p>
            </div>
          </div>
          <!-- 02 -->
          <div class="swiper-slide">
            <div class="p-[16px] flex flex-col gap-[20px] bg-grigio-100 h-full">
              <div class="flex flex-col gap-[8px]">
                <p class="text-blu text-[20px] leading-[24px]">02</p>
                <h4 class="text-nero">Produzione</h4>
              </div>
              <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di produzione.</p>
            </div>
          </div>
          <!-- 03 -->
          <div class="swiper-slide">
            <div class="p-[16px] flex flex-col gap-[20px] bg-grigio-100 h-full">
              <div class="flex flex-col gap-[8px]">
                <p class="text-blu text-[20px] leading-[24px]">03</p>
                <h4 class="text-nero">Installazione</h4>
              </div>
              <p class="text-nero">In questo paragrafo dovrà essere inserita una breve descrizione sul servizio di installazione.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-blu lg:py-[3.056vw] py-[32px] lg:px-[2.222vw] px-[16px] flex flex-col lg:gap-body gap-[60px] lg:mt-[10.417vw] mt-[60px]">
      <div class="flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
        <h2 class="text-bianco">Alcuni numeri</h2>
        <p class="text-bianco lg:w-[20.833vw]">Breve descrizione su cosa può far risparmiare il prodotto.</p>
        <div class="flex items-end gap-[0.556vw]">
          <Button content="Richiedi un preventivo" type="btn-gray" link="" />
        </div>
      </div>
      <div class="flex lg:flex-row flex-col lg:gap-0 gap-[44px] justify-between">
        <div class="flex flex-col lg:gap-[0.556vw] gap-[8px] w-full">
          <h1 id="counter-1" class="text-grigio-200">130</h1>
          <h4 class="text-grigio-50">Contatore 1</h4>
        </div>
        <div class="flex flex-col lg:gap-[0.556vw] gap-[8px] w-full">
          <h1 id="counter-2" class="text-grigio-200">8h</h1>
          <h4 class="text-grigio-50">Contatore 2</h4>
        </div>
        <div class="flex flex-col lg:gap-[0.556vw] gap-[8px] w-full">
          <h1 id="counter-3" class="text-grigio-200">+2000</h1>
          <h4 class="text-grigio-50">Contatore 3</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="h-screen px-body pt-[18.889vw] flex flex-col lg:gap-[1.667vw] gap-[24px]" id="img-full-azienda">
    <h1 class="text-bianco lg:w-[57.708vw]">
      In questo paragrafo una breve<br />
      descrizione sul prodotto.
    </h1>
    <Button content="Scarica scheda tecnica" type="btn-white" link="/" img="/img/assets/download.svg" />
  </section>

  <Form />

  <script>
    import gsap from "gsap";

    document.addEventListener("astro:page-load", () => {
      const marqueeContent = document.querySelector(".marquee-content");

      // Duplicate content for a seamless loop
      const marqueeClone = marqueeContent.cloneNode(true);
      marqueeContent.parentElement.appendChild(marqueeClone);

      // GSAP animation for infinite marquee
      gsap.to(".marquee-content", {
        xPercent: -100,
        ease: "none",
        duration: 20,
        repeat: -1
      });
    });
  </script>

  <script>
    import Swiper from "swiper";
    import { Navigation } from "swiper/modules";
    import "swiper/css";
    import "swiper/css/navigation";

    document.addEventListener("astro:page-load", () => {
      new Swiper(".swiper-impianti", {
        breakpoints: {
          390: {
            spaceBetween: 16,
            slidesPerView: 1.1
          },
          1024: {
            spaceBetween: 16,
            slidesPerView: 1.4
          }
        }
      });
    });
  </script>
</Layout>
