---
import Layout from "../layout/Layout.astro";
import Button from "../component/Button.astro";
import SezioneForm from "../component/SezioneForm.astro";
import Marquee from "../component/Marquee.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("it");
---

<Layout title={t("oleodinamica.metaTitle")} description={t("oleodinamica.metaDescription")}>
  <section class="hero flex flex-col justify-between">
    <div class="flex lg:flex-row flex-col justify-between gap-[6.944vw] lg:items-center">
      <div class="flex flex-col lg:gap-[5.556vw] gap-[44px]">
        <div class="flex flex-col lg:gap-[1.667vw] gap-[20px]">
          <h1 class="text-nero">
            <Trans i18nKey="oleodinamica.hero.title">
              Impianti di Oleodinamica<br />
              ed Elettroidraulica
            </Trans>
          </h1>
          <p class="text-grigio-200">{t("oleodinamica.hero.desc")}</p>
        </div>
        <div class="flex lg:flex-row flex-col lg:gap-[0.556vw] gap-[8px]">
          <Button content={t("oleodinamica.hero.button.left")} type="btn-blu" link="" />
          <Button content={t("oleodinamica.hero.button.right")} type="btn-transparent" link="/" img="/img/assets/download.svg" />
        </div>
      </div>
      <img src="/img/page/oleodinamica/impiantiOleodinamica.png" alt="" class="lg:w-[38.889vw] w-full lg:h-[40.278vw] md:h-[330px] h-fit object-cover" />
    </div>
    <div class="w-full flex justify-center">
      <p class="text-nero scroll-title">Scroll</p>
    </div>
  </section>

  <section class="px-body py-body bg-blu flex flex-col lg:gap-[10.417vw] gap-[60px]">
    <div class="flex lg:flex-row flex-col lg:items-end justify-between lg:gap-0 gap-[24px]">
      <h3 class="text-bianco lg:w-[43.472vw]">{t("oleodinamica.intro.descIntroduttiva")}</h3>
      <p class="text-bianco lg:w-[22.639vw]">{t("oleodinamica.intro.descIntroduttiva")}.</p>
    </div>

    <Marquee />

    <div class="w-full lg:h-[48.611vw] h-[320px]">
      <img src="/img/page/oleodinamica/img-full-oleodinamica.jpeg" alt="" class="w-full h-full object-cover" />
    </div>
  </section>

  <section class="px-body py-body">
    <div class="bg-blu lg:py-[3.056vw] py-[32px] lg:px-[2.222vw] px-[16px] flex flex-col lg:gap-[10.417vw] gap-[60px] lg:mt-[10.417vw] mt-[60px]">
      <div class="flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
        <h2 class="text-bianco">{t("oleodinamica.numeri.title")}</h2>
        <p class="text-bianco lg:w-[20.833vw]">{t("oleodinamica.numeri.desc")}</p>
        <div class="flex items-end gap-[0.556vw]">
          <Button content={t("oleodinamica.numeri.button")} type="btn-gray" link="" />
        </div>
      </div>
      <div class="flex lg:flex-row flex-col lg:gap-0 gap-[44px] justify-between">
        <div class="flex flex-col lg:gap-[0.556vw] gap-[8px] w-full">
          <h1 id="counter-1" class="text-grigio-200">{t("oleodinamica.numeri.contatori.1.number")}</h1>
          <h4 class="text-grigio-50">{t("oleodinamica.numeri.contatori.1.title")}</h4>
        </div>
        <div class="flex flex-col lg:gap-[0.556vw] gap-[8px] w-full">
          <h1 id="counter-2" class="text-grigio-200">{t("oleodinamica.numeri.contatori.2.number")}</h1>
          <h4 class="text-grigio-50">{t("oleodinamica.numeri.contatori.2.title")}</h4>
        </div>
        <div class="flex flex-col lg:gap-[0.556vw] gap-[8px] w-full">
          <h1 id="counter-3" class="text-grigio-200">{t("oleodinamica.numeri.contatori.3.number")}</h1>
          <h4 class="text-grigio-50">{t("oleodinamica.numeri.contatori.3.title")}</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="lg:h-screen md:h-[500px] h-[840px] px-body lg:pt-[18.889vw] pt-[130px] flex flex-col lg:gap-[2.222vw] gap-[30px]" id="img-full-azienda">
    <h1 class="text-bianco lg:w-[57.708vw]">{t("oleodinamica.imgFull.title")}</h1>
    <Button content={t("oleodinamica.imgFull.button")} type="btn-white" link="/" img="/img/assets/download.svg" />
  </section>

  <SezioneForm />

  <script is:inline>
    import Swiper from "swiper";
    import { Navigation } from "swiper/modules";
    import "swiper/css";
    import "swiper/css/navigation";

    document.addEventListener("astro:page-load", () => {
      new Swiper(".swiper-impianti", {
        breakpoints: {
          390: {
            spaceBetween: 16,
            slidesPerView: 1.1
          },
          1024: {
            spaceBetween: 16,
            slidesPerView: 1.4
          }
        }
      });
    });
  </script>
</Layout>
