---
import Button from "./Button.astro";

import i18next, { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<section class="px-body pb-body">
  <div class="bg-grigio-100 lg:py-[5.556vw] py-[44px] lg:px-[2.222vw] px-[16px] flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
    <h2 class="text-nero">
      <Trans i18nKey="componenti.collaborazione.title">
        Vuoi unirti a Celyon?<br />
        Vuoi collaborare con noi?
      </Trans>
    </h2>
    <p class="text-nero lg:w-[20.833vw]">{t("componenti.collaborazione.subtitle")}</p>
    <div class="flex items-end">
      <Button content={t("componenti.collaborazione.button")} type="btn-blu" link="/Contatti" />
    </div>
  </div>
</section>
