---
import Button from "./Button.astro";
---

<section class="px-body pb-body">
  <div class="bg-grigio-100 lg:py-[5.556vw] py-[44px] lg:px-[2.222vw] px-[16px] flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-0 gap-[20px]">
    <h2 class="text-nero">
      Vuoi unirti a Celyon?<br />
      Vuoi collaborare con noi?
    </h2>
    <p class="text-nero lg:w-[20.833vw]">Breve paragrafo sul fatto che Celyon è sempre disposta a collaborare.</p>
    <div class="flex items-end">
      <Button content="Mettiti in contatto" type="btn-blu" link="/Contatti" />
    </div>
  </div>
</section>
